body {
  background-color: #222;
  color: #ccc;
  margin: 0;
  height: 100vh;
  overflow: none;
  font-size: 16px;
  font-family: monospace;
}

.controlPanel {
  width: 100%;
  height: 50px;
  border-style: solid;
  border-color: gray;
  border-width: 0px;
  border-bottom-width: 5px;
  margin: 0;
  float: left;
}

.codeContainer {
  width: calc(100% - 100px);
  height: calc(100% - 55px);
  float: left;
  overflow: auto;
}

.outputContainer {
  float: left;
  width: calc(100px - 10px);
  height: calc(100% - 55px);
  margin: 0;
  border: 0;
  padding-left: 5px;
  border-left-width: 5px;
  border-style: solid;
  border-color: gray;
  overflow: auto;
  position: sticky;
  left: 0;
  background-color: #222;
}

.inputContainer {
  width: calc(100%);
  min-height: 100%;
  max-height: calc(100vh - 55px);
  float: left;
  overflow: visible;
  margin: 0;
}

.input {
  float: left;
  width: max-content;
  min-width: calc(100% - 5px);
  outline: none;
  margin: 0;
  padding-right: 5px;
}

#qrcode {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

#qrcode img{
  height: 70%;
  margin: auto;
  margin-top: 15vh;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}